<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE configuration>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- 로그 메시지 형식 -->
			<pattern>
				[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level [%thread][%logger{0}] %m%n
			</pattern>
		</encoder>
	</appender>
	<logger name="kr.wearit.web" level="INFO" />
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>